.UserCard__wrapper {
  display: flex; }

.UserCard__info {
  padding-left: 50px; }

.UserCard__avatar {
  text-align: center; }

.UserCard__avatar-img {
  display: block;
  margin-bottom: 22px;
  width: 185px;
  height: 185px; }

.UserCard__avatar-upload-btn {
  border: 0 none;
  background: none transparent;
  color: #b3b3b3;
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline; }

.UserCard__field {
  display: flex;
  align-items: baseline;
  margin-bottom: 6px; }

.UserCard__field-value {
  font-size: 24px;
  font-weight: 500; }

.UserCard__field-value-change-btn {
  margin-left: 5px;
  border: 0 none;
  background: none transparent;
  color: #b3b3b3;
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline; }
