.Wallet {
  &__item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }

  &__item-title {
    margin-left: 20px;
  }

  &__item-value {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 225px;
    height: 31px;
    margin: 0;
    border-radius: 4px;
    background-color: #404243;
    font-size: 16px;
  }

  &__item-value-dec {
    color: #fff;
    font-weight: 700;
  }

  &__item-value-del {
    color: #fff;
  }

  &__item-value-frac {
    color: #8a8a8a;
  }
}
