.Wallet__item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end; }

.Wallet__item-title {
  margin-left: 20px; }

.Wallet__item-value {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 225px;
  height: 31px;
  margin: 0;
  border-radius: 4px;
  background-color: #404243;
  font-size: 16px; }

.Wallet__item-value-dec {
  color: #fff;
  font-weight: 700; }

.Wallet__item-value-del {
  color: #fff; }

.Wallet__item-value-frac {
  color: #8a8a8a; }
