.Feeds {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 58px 0 76px;
  position: relative;

  &__show-more-btn {
    height: 38px;
    padding: 0 55px;
    border: 0 none;
    background: rgba(70, 133, 151, .2);
    font-size: 18px;
    font-weight: 500;
  }
}