.Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  height: 100px;
  padding: 0 20px;
  margin: 0 auto;
  color: #fff; }
  .Footer__site-desc {
    width: 240px;
    font-size: 14px;
    font-weight: 300; }
    .Footer__site-desc p {
      margin: 0 0 5px; }
    .Footer__site-desc a {
      color: #fff;
      font-weight: 700;
      text-decoration: underline; }
